GRAYLOG_HTTP_EXTERNAL_URI=http://0.0.0.0:9000/
GRAYLOG_TIMEZONE=Australia/Sydney
GRAYLOG_ROOT_USERNAME=grammy-jiang
# password=P@ssw0rd
GRAYLOG_ROOT_PASSWORD_SHA2=d7fd7157c749e9ebc4cdb38a9ca8b059a0be63c92778380927d7cbfb
GRAYLOG_ROOT_TIMEZONE=Australia/Sydney
